<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Products</title>
</head>
<body>

<div class="container">
    <h3>Products Management</h3>

    <div class="notify" th:if="${success}">
        <span th:text="${success}"></span>
    </div>

    <div class="top-actions">
        <a th:href="@{/products/create}" class="btn btn-primary">
            Add new product
        </a>
        <form th:action="@{/products/search}" method="get" class="search-form">
            <input type="text" name="name" placeholder="Search by name..."/>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>

    <table id="products">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${products}">
            <td th:text="${row.getName()}"></td>
            <td th:text="${row.getPrice()}"></td>
            <td th:text="${row.getDescription()}"></td>
            <td th:text="${row.getManufacturer()}"></td>
            <td><a th:href="@{/products/{id}/edit(id=${row.getId()})}">Edit</a></td>
            <td><a th:href="@{/products/{id}/delete(id=${row.getId()})}" class="btn-danger">Delete</a></td>
            <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>