<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Sản Phẩm</title>
</head>
<body>
    <h1>Danh sách sản phẩm</h1>
    <a href="/products/create">Thêm sản phẩm mới</a>
    <table id="products" border="1">
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Nhà sản xuất</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>

        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getManufacturer()}"></td>
            <td><a th:href="@{/products/update/__${product.id}__}">Sửa</a></td>
            <td><a th:href="@{/products/delete/__${product.id}__}">Xóa</a></td>
        </tr>
    </table>


</body>
</html>