<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Chỉnh sửa sản phẩm</h1>
<p>
    <a href="/products">Quay lại danh sách</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/products/update}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên sản phẩm: </td>
            <td><input type="text" placeholder="Nhập tên" th:field="*{name}"></td>
        </tr>

        <tr>
            <td>Giá: </td>
            <td><input type="number" placeholder="Nhập giá" th:field="*{price}"></td>
        </tr>

        <tr>
            <td>Mô tả: </td>
            <td> <textarea th:field="*{description}" rows="4" cols="50"></textarea></td>
        </tr>

        <tr>
            <td>Nhà sản xuất: </td>
            <td><input type="text" placeholder="Nhập nhà sản xuất" th:field="*{manufacturer}"></td>
        </tr>
    </table>
    <button type="submit">Thêm</button>
</form>
</body>
</html>